.content-wrapper {
    padding: 10px 5px;
}

.login-page {
    background: url(../img/login-bg.jpg)no-repeat;
    background-position: bottom right;
    background-size: 30%;
}

#fileAttachment {
    cursor: pointer;
}