.content-wrapper {
    padding: 10px 5px;
    background-color: #ddd;
}

.login-page {
    background: url(../img/login-bg.jpg)no-repeat;
    background-position: bottom right;
    background-size: 30%;
}

#fileAttachment {
    cursor: pointer;
}

.btn {
    font-weight: 700 !important;
}