.content-wrapper {
    padding: 10px 5px;
    background-color: #ddd;
}

.login-page {
    background: url(../img/login-bg.jpg)no-repeat;
    background-position: bottom right;
    background-size: 30%;
}

#fileAttachment {
    cursor: pointer;
}

.btn {
    font-weight: 700 !important;
}

.filepond--credits {
    display: none !important;
}

.alert h5 {
    display: none !important;
}

.pagination {
    margin-bottom: 0px !important;
}

.dataTables_info, .dataTables_paginate, .dt-buttons, .dataTables_length, .dataTables_filter {
    display: inline-flex !important;
    margin-right: 10px;
    }

.dataTables_filter {
    float: right !important;
}