body {
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
    margin: 0px auto;
    display: block;
    max-width: 695px;
    width: 100%;
    max-height: 900px;
}

table {
    /* margin: 0px auto; */
    margin-bottom: 20px;
    width: 100%;
}

.tbl th,
.tbl td {
    padding: 4px;
    text-align: left;
}

.tbl th {
    border: 1px solid #999999;
}

.tbl td {
    border: 1px solid #999999;
}

.center {
    text-align: center;
    margin: 0px auto;
}

.tbl tr {
    background-color: #fff
}

.tbl th.th {
    background: #c1c1c1;
}

.tbl.header .bg-dark {
  font-weight: 700;
}

.bg-dark {
  background-color: #e1e1e1;
}

footer {
  position: absolute;
  bottom: 0;
  /* left: 50; */
  width: 695px;
  display: block;
  margin: 0px auto;
}

footer td{
  border: 1px solid #999999;
  padding: 5px;
}

footer img {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.text-right {
  text-align: right;
}

button#dataToggler {
  position: absolute;
  z-index: 999;
  right: 10px;
  top: 10px;
}

#tableDataWrapper {
  max-height: 530px !important;
}

#tableData tbody{
  height: 450px;
}

#tableData tbody tr td{
  border-bottom: 0px;
  border-top: 0px;
  vertical-align: center;
  height: fit-content;
}

#tableData tbody tr:nth-last-child(2) td {
  border-top: 0px;
}

#tableData tbody tr:last-child {
  height: 35px;
}

#tableData tbody tr:last-child td{
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
}

@media print {
    body {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }

    .print-button {
        display: none;
    }

    h1, h2, h3, h4, h5 {
        margin-bottom: 15px;
    }

    @page {
      size: 215.9mm 279.4mm;
    }

    .bg-dark {
      background-color: #e1e1e1;
    }

    button {
      visibility: hidden !important;
    }
    
    #tableDataWrapper {
      max-height: 530px !important;
    }

    #tableData {
      height: 450px;
    }
    
    #tableData tbody tr td{
      border-bottom: 0px;
      border-top: 0px;
      vertical-align: center;
      height: fit-content;
    }
    
    #tableData tbody tr:nth-last-child(2) td {
      border-top: 0px;
    }
    
    #tableData tbody tr:last-child {
      height: 35px;
    }
    
    #tableData tbody tr:last-child td{
      border-bottom: 1px solid #999999;
      border-top: 1px solid #999999;
    }

}
